ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.banner-scroll{
	width: 280px;
	margin: 20px auto;
	position: relative;
}
.banner-scroll .img-container{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.banner-scroll .img-container ul{
	display: flex;
	width: 300%;
	transition: all .3s linear;
}
.banner-scroll .img-container li{
	flex: 1;
}
.banner-scroll .img-container li img{
	display: block;
	width: 100%;
	max-width: 100%;
}
.banner-scroll .quick-look{
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	z-index: 9999;
	text-align: center;
	cursor: pointer;
}
.banner-scroll .quick-look li.selected{
	border: 1px solid #999;
	background-color: rgba(255,255,255,.4);
}
.banner-scroll .quick-look li{
	display: inline-block;
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 100%;
	background-color: rgba(0,0,0,.4);
	margin: 0 5px;
	border: 1px solid transparent;
}
.hander span{
	vertical-align: middle;
	position: absolute;
	display: block;
	width: 10%;
	top: 0;
	bottom: 0;
	z-index: 999;
	cursor: pointer;
}
.hander .left{
	left: 0;
	background:-webkit-linear-gradient(left, rgba(0,0,0,.05), rgba(0,0,0,.2));
}
.hander .right{
	right: 0;
	background:-webkit-linear-gradient(left, rgba(0,0,0,.2), rgba(0,0,0,.05));
}


#weather-forecast{
	color: #234;
	padding: 2em 3em;
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
}

/* menu style */
a.active{
	color:red;
}
.sublist{
	display: none;
	padding-left: 10px;
}
.menu>.open .sublist{
	display: block;
}

/* form style */
section{
	margin-bottom: 20px
}
form[name="reactFrom"]{
	width: 30%;
	position: relative;
}
form[name="reactFrom"] pre{
	position: absolute;
	left: 120%;
	top: 0;
}